.container {
   display: flex;
   justify-content: center;
   margin-top: 80px;
}
.container h1 {
   margin-right: 10vw;
}
.vertical-menu {
   width: 200px;
   height: 200px;
   overflow-y: auto;
   border: 1px solid #ccc;
}
.vertical-menu a {
   background-color: #eee;
   color: black;
   display: block;
   padding: 12px;
   text-decoration: none;
}
.vertical-menu a:hover {
   background-color: #ccc;
}
.vertical-menu a.active {
   background-color: #105cd4;
   color: white;
}
